<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/academy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/academy"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jurnals">
        <activity
            android:name=".Class.OzevsActivity"
            android:exported="false" />
        <activity
            android:name=".Adapter.NewsAdapter"
            android:exported="false" />
        <activity
            android:name=".Class.Performance"
            android:exported="false" />
        <activity
            android:name=".Class.News"
            android:exported="false" />
        <activity
            android:name=".Class.Ekzam"
            android:exported="false" />
        <activity
            android:name=".Class.Settings"
            android:exported="false" />
        <activity
            android:name=".Class.Autarization"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>